:root {
  background-color: #8ECAE6;
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.left {
  background-image: url(./images/bg.jpg);
  flex: 3;
  height: 100%;
}

.right {
  flex: 5;
  height: 100%;
}

div {
  /* border: 1px solid white; */
}